/* .popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear, visibility 0.5s linear;
  -webkit-transition: opacity 0.5s linear, visibility 0.5s linear;
  -moz-transition: opacity 0.5s linear, visibility 0.5s linear;
  -ms-transition: opacity 0.5s linear, visibility 0.5s linear;
  -o-transition: opacity 0.5s linear, visibility 0.5s linear;
} */

.my-class {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.spoiler {
  cursor: pointer;
}

.results {
  display: none;
}

.results_show {
  display: block;
}

.popup__container {
  position: relative;
  top: auto;
  left: auto;
  width: 630px;
  box-sizing: border-box;
  padding: 20px 20px 20px 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-image: url('./close-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
}

.popup__close-button:hover {
  opacity: 0.6;
}

.popup_opened {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s linear, visibility 0.5s linear;
  -webkit-transition: opacity 0.5s linear, visibility 0.5s linear;
  -moz-transition: opacity 0.5s linear, visibility 0.5s linear;
  -ms-transition: opacity 0.5s linear, visibility 0.5s linear;
  -o-transition: opacity 0.5s linear, visibility 0.5s linear;
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.dangerous-phase {
  color: red;
  font-style: italic;
}

.dangerous-category {
  /* color: red; */
  text-decoration: underline;
}

.submit-button {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 10px;
  margin-left: auto;
  margin-right: auto;
}

.submit-button:hover {
  cursor: pointer;
}

.navigation {
  display: flex;
  justify-content: space-between;

  margin-bottom: 50px;
}

.navigation-logo {
  margin: 0;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.navigation-header {
  margin: 0;

  margin-bottom: 15px;
}

.navigation-list {
  margin: 0;
}

.navigation-item {
  padding: 5px
}

.navigation-link:hover {
  text-decoration: none;
}

@media (max-width: 509px) {
  .navigation {
    display: block;
  }

  .navigation-logo {
    margin-bottom: 25px;
  }
}