.body-container {
  margin: 0 auto;
  max-width: 768px;
  margin-top: 30px;
}

/* секция с результатами теста (начало) */
.user-results-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px auto;
}

.spoiler {
  cursor: pointer;
}

.results {
  display: none;
}

.results_show {
  display: block;
}

.popup__container {
  position: relative;
  top: auto;
  left: auto;
  width: 630px;
  box-sizing: border-box;
  padding: 20px 20px 20px 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.dangerous-phase {
  color: red;
  font-style: italic;
}

.dangerous-category {
  /* color: red; */
  text-decoration: underline;
}

.submit-button {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 10px;
  margin-left: auto;
  margin-right: auto;
}

.submit-button:hover {
  cursor: pointer;
}
/* секция с результатами теста (конец) */

/* общие стили (начало) */
.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
/* общие стили (конец) */

/* навигация (начало) */
.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 30px 20px;
  min-height: 130px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.navigation-logo {
  margin: 0;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.navigation-left-column {
  justify-content: space-between;
}

.navigation-header {
  margin: 0;

  margin-bottom: 15px;
}

.navigation-list {
  margin: 0;
}

.navigation-item {
  padding: 5px
}

.navigation-link:hover {
  text-decoration: none;
}
/* навигация (конец) */

/* наполнение теста (начало) */
.question-variants {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.test-container {
  padding-left: 15px;
  padding-right: 15px;
}

.answer-item {
  list-style-type: none;
}
/* наполнение теста (конец) */

@media (max-width: 509px) {
  .navigation {
    display: block;
  }

  .navigation-logo {
    margin-bottom: 25px;
  }
}